body {
    background-color: #303030;
    margin: auto;
    width: 85%;
    border: 3px solid #7a7a7a;
    padding: 10px;
}

.grid-user {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: #00c899 solid 1px;
    margin: 10px auto;
}

.grid div {
    width: 50px;
    height: 50px;
    outline-offset: -1px;
    outline: 1px solid #606060;
}

.grid-ai {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: #de0000 solid 1px;
    margin: 10px auto;
}

#fieldContainer {
    display: flex;
}

.hidden-info {
    border: 2px solid #585858;
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.grid-display {
    display: flex;
    height: 220px;
    border: #3b3b3b solid 2px;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.ship {
    background-color: #606060;
    margin: 10px;
    display: flex;
}

.container40 {
    width: 200px;
    height: 50px;
}

.container40-v {
    width: 50px;
    height: 200px;
    flex-wrap: wrap;
}

.container30, .container31 {
    width: 150px;
    height: 50px;
}

.container30-v, .container31-v {
    width: 50px;
    height: 150px;
    flex-wrap: wrap;
}

.container20, .container21, .container22 {
    width: 100px;
    height: 50px;
}

.container20-v, .container21-v, .container22-v {
    width: 50px;
    height: 100px;
    flex-wrap: wrap;
}

.container10, .container11, .container12, .container13 {
    width: 50px;
    height: 50px;
}

.container10-v, .container11-v, .container12-v, .container13-v {
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
}

.ship div {
    width: 50px;
    height: 50px;
}

.grid-user .ship40 {
    background-color: #38acb0;
}

.grid-user .ship30, .grid-user .ship31 {
    background-color: #28a761;
}

.grid-user .ship20, .grid-user .ship21, .grid-user .ship22 {
    background-color: #41509b;
}

.grid-user .ship10, .grid-user .ship11, .grid-user .ship12, .grid-user .ship13 {
    background-color: #ba780d;
}

/*.ship40 {*/
/*    background-color: #38acb0;*/
/*}*/

/*.ship30, .ship31 {*/
/*    background-color: #28a761;*/
/*}*/

/*.ship20, .ship21, .ship22 {*/
/*    background-color: #41509b;*/
/*}*/

/*.ship10, .ship11, .ship12, .ship13 {*/
/*    background-color: #ba780d;*/
/*}*/

.boom {
    background-color: #9d3434 !important;
}

.miss {
    background-color: #535353 !important;
}

#turn {
    font-family: Century Gothic, serif;
    color: #cbcbcb;
    font-size: 30px;
    height: 21px;
    margin: auto;
    display: block;
}

#info {
    display: block;
    font-family: Century Gothic, serif;
    color: #cbcbcb;
    font-size: 16px;
    height: 21px;
    outline: none;
    margin: 10px 0;
    padding: 5px 0;
}

#start, #rotate {
    border: #cbcbcb 1px solid;
    text-align: center;
    padding: 10px;
    background-color: #404040;
    font-family: Century Gothic, serif;
    color: #cbcbcb;
    font-size: 16px;
    margin: 5px;
}